@model wakeApp.Models.PostVideo

@{
    ViewData["Title"] = "Painel do canal - ";
}



<hr />
<div class="row justify-content-center">
    <h1 class="text-center" style="color: white;">Upload</h1>
    <div class="card-1 col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titulo</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descrição</label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FileVideo" class="control-label label-file">
                    <i class="bi bi-collection-play-fill"></i>
                    <p>Upload Vídeo</p>
                </label>
                <input name="FileVideo" type="file" class="form-control input-file" id="FileVideo" />
                <span validation-for="FileVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FileImage" class="control-label label-file">
                    <i class="fa-solid fa-upload"></i>
                    <p>Thumbnail</p>
                </label>
                <input name="FileImage" type="file" class="form-control input-file" id="FileImage"/>
                <span validation-for="FileImage" class="text-danger"></span>
            </div>
            <div class="form-group text-center" style="margin-top: 20px; margin-bottom: 20px;">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
