@model wakeApp.Models.PostVideo

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: white;">Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FileVideo" class="control-label label-file">
                    <i class="fa-solid fa-upload"></i>
                    <p>Upload Vídeo</p>
                </label>
                <input name="FileVideo" type="file" class="form-control input-file" id="FileVideo" />
                <span validation-for="FileVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FileImage" class="control-label label-file">
                    <i class="fa-solid fa-upload"></i>
                    <p>Upload Imagem</p>
                </label>
                <input name="FileImage" type="file" class="form-control input-file" id="FileImage"/>
                <span validation-for="FileImage" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
