@model wakeApp.Models.PostVideo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="card mb-3" style="border: none;">
        <div class="template-video">
            <video class="video" controls="controls">
                <source src="@Html.DisplayFor(model => model.VideoFile)" type="video/mp4">
            </video>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Title)</h5>
            @Html.DisplayFor(model => model.Posted)
            <hr />
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
