@model IEnumerable<wakeApp.Models.PostVideo>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="card d-inline-block" style="width: 19rem; margin: 8px;">
        <a asp-action="Details" asp-route-id="@item.Id">
            <img src="@Html.DisplayFor(modelItem => item.ThumbImage)" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(modelItem => item.Title)</p>
            </div>
        </a>
    </div>
}
