@using wakeApp.Models
@model Channel

@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.PostVideos)
{
    <div class="card d-inline-block" style="width: 18rem; margin: 6px;">
        <a asp-controller="PostVideos" asp-action="Details" asp-route-id="@item.Id">
            <img src="@Html.DisplayFor(modelItem => item.ThumbImage)" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(modelItem => item.Title)</p>
            </div>
        </a>
    </div>
}